form, .tickets, #list-tickets {
  vertical-align: top;
}

form, #list-tickets {
  margin-top: 3%;
  margin-left: 2%;
}

form, .orders {
  display: inline-block;
  position: relative;
  width: 300px;
  border: 1px solid grey;
  padding: 20px;
}

input {
  width: 95%;
  padding: 4px;
}

#list-tickets {
  position: relative;
  display: inline-block;
  max-width: 475px;
  width: 95%;
}

.template.hidden {
  display: none;
}

.tickets, {
  display: inline-block;
 
  width: 30%;
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
  
}

