* {
  box-sizing: border-box;
}

body {
  background-color: #20B2AA;
}

form, .tickets, #list-tickets {
  vertical-align: top;
}

form, #list-tickets {
  margin-top: 3%;
  margin-left: 2%;
}

form {
  display: inline-block;
  position: relative;
  width: 330px;
  padding: 20px;
  background-color: white;
}

input {
  width: 95%;
  padding: 5px;
}

#list-tickets {
  position: relative;
  display: inline-block;
  max-width: 340px;
  width: 90%;
}

.template.hidden {
  display: none;
}

.tickets {
  display: inline-block;
  background-color: white;
  max-width: 162px;
  width: 99%;
  padding: 10px;
  margin-right: 4px;
  margin-bottom: 3px;
  
}

button {
  padding: 10px 20px;
  background-color: #FFC125;
  border-radius: 4px;
  border: none;
}

button:hover {
  background-color: #FFD700;
  cursor: pointer;
}

